# CONTEC CDIO USB DEVICE
# DIO-0808LY-USB (DIO000)
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="06ce", ATTRS{idProduct}=="a302", RUN+="/sbin/modprobe cdiousb", MODE="0666"
# end
